NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_WORKFLOW_ID=crawl-prices.yml
GITHUB_REF=main
WXPUSHER_APP_TOKEN=
WXPUSHER_UIDS=

